body {
    padding: 0;
    margin: 0;
  }



  #mainwindow {
    height: 100vh;
    max-height: 100vh;
  }
  
  #div1 {
    z-index: 01;
  }

  #background {
    position:absolute;
    left:0px;
    top:0px;
    z-index: 10;
    background-image: url("../res/bg/bg2.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #gameArea {
    position:absolute;
    left:0px;
    top:0px;
    background-color: transparent;
    z-index: 20;
  }

  /* #div2 {
    margin: auto;
    width: 50%;
    z-index: 30;
    background-color: rgba(24, 51, 66, 0.747);
    border: 3px solid rgb(34, 34, 34); 
  } */



  


  


